/*this is the csss for the midterm*/
body {
    background-color: rgb(24, 91, 114);
    margin: 10px;
    color: aliceblue;
  }
.container{
    background-color: rgb(216, 243, 199);
}
.container h1{
    text-align: center;
    background-color: rgb(216, 243, 199);
}
.container button{
    
    text-align: center;
    background-color: rgb(30, 96, 172);  
    border: none;
    color: white;
    padding: 15px 40px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 20px 120px;
    cursor: pointer;
    width: 60%;

}
.container{
    background-color: rgb(216, 243, 199);
}
.form{
    
    text-align: center;
    background-color: rgb(30, 96, 172);  
    border: none;
    color: white;
    padding: 15px 40px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 20px 120px;
    cursor: pointer;
    width: 60%;

}